body {
  font-family: "Roboto";
  border: salmon 5px solid;
}

/* @media (max-width: 1240px) {
   {
  }
} */

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 100px 0 100px;
}
/* отступ без фона */
.header_info {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 248, 248, 1);
  align-items: center;
}
li::marker {
  color: rgba(238, 149, 145, 1);
}
.spacer {
  flex: 1 1 auto;
}

.head_flexnav {
  display: flex;
  gap: 1.875rem;
}

.Registrasi {
  display: flex;
  margin-left: 30px;
  width: 90px;
  height: 36px;
  justify-content: center;
  align-items: center;
}
.pasti_content {
  display: flex;
  background-color: rgba(254, 248, 248, 1);
  justify-content: center;
  align-items: center;
  padding: 60px 0 143px 0;
}
h1 {
  color: rgba(85, 85, 85, 1);
}
h3 {
  color: rgba(85, 85, 85, 1);
}
h4 {
  color: rgba(85, 85, 85, 1);
}
a {
  text-decoration: none;
  color: rgba(136, 136, 136, 1);
}

p {
  color: rgba(136, 136, 136, 1);
}
li {
  color: rgba(136, 136, 136, 1);
  font-weight: 700;
}
.grey {
  color: rgba(136, 136, 136, 1);
}
.white {
  color: rgba(255, 255, 255, 1);
}
.dark_grey {
  color: rgba(85, 85, 85, 1);
}
.pasti_list {
  display: flex;
  gap: 30px;
  padding-left: 20px;
}
.pink {
  color: rgba(238, 149, 145, 1);
}
.font70 {
  font-size: 70px;
  font-weight: 900;
  color: rgba(85, 85, 85, 1);
  margin: 0;
}
.font12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.font16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.font20btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.font20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.font14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.font40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: rgba(85, 85, 85, 1);
  margin: 0;
}
.font10 {
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  opacity: 40%;
}
.font90 {
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;

  margin: 20px 0 20px 0;
}

.font26 {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
}
.font18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}
.btnn {
  border: none;
  display: block;
  border-radius: 10px;
  color: rgba(246, 246, 246, 1);
  background-color: rgba(238, 149, 145, 1);
  box-shadow: 16px 16px 60px rgba(150, 88, 131, 0.4);
}
.btnn_registrasi {
  border: none;
  display: block;
  border-radius: 10px;
  color: rgba(246, 246, 246, 1);
  background-color: rgba(238, 149, 145, 1);
  box-shadow: 16px 16px 60px rgba(150, 88, 131, 0.4);
  width: 90px;
  height: 40px;
}
/* расположение текста неправильное */
.pasti_btn {
  display: flex;
  padding-top: 40px;
  padding-right: 41px;
}

button:hover,
button:active {
  background-color: rgba(117, 161, 154, 0.384);
  box-shadow: 16px 16px 40px 40px rgba(134, 156, 204, 0.884);
}
.brush {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Beautypreneur {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 165px 0 276px 0;
}
.Beautypreneur_text {
  display: flex;
  flex-direction: column;
}

.tablets {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.big_tablet {
  border: 8px solid rgba(246, 246, 246, 1);
  color: rgba(246, 246, 246, 1);
  border-radius: 1.25rem;
  padding: 0 40px 0 40px;
  background: linear-gradient(rgba(249, 168, 165, 1), rgba(226, 138, 134, 1));
}
.Beauty_Selling {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 0 110px 0;
}

.Beauty_Selling_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;

  padding: 0 0 204px 0;
}
.Beauty_Selling_tabs {
  display: flex;
  gap: 50px;
}
.tablet_positiont {
  display: flex;
  flex-direction: column;
}
.Beauty_Selling_tabs .tablet_positiont:first-child {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}
.Beauty_Selling_tabs .tablet_positiont:last-child {
  display: flex;
  gap: 50px;
}

.small_tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 248, 248, 1);
  border-radius: 10px;
  padding: 30px 30px 0 30px;
}
.Beauty_Selling_text {
  display: flex;
  flex-direction: column;
}
.Pokonya_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokonya_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.container_grid {
  display: grid;
  grid-template-columns: 274px 274px 274px 274px;
  gap: 48px;
  padding: 80px 0 170px 0;
}

.block_buttons {
  border: none;
  border-radius: 16px;
  color: rgba(246, 246, 246, 1);
  background-color: rgba(241, 231, 231, 0.404);
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 32px 0;
}

.block img {
  background-color: rgba(249, 168, 165, 0.432);
  border-radius: 10px;
}

.Meet_our_mentor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fem {
  display: flex;
  flex-direction: column;
}
.portraits {
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 80px 0 180px 0;
}

.fem_portrait {
  border-radius: 16px;
  box-shadow: 22px 22px 34px rgba(0, 0, 0, 0.473);
}

.Testimonial_container {
  display: flex;
}
.Testimonial {
  display: flex;
  flex-direction: column;
}
.spacer1 {
  display: flex;
  flex: 1 1 auto;
  max-width: 45%;
}
.Annabel {
  display: flex;
  gap: 30px;
  padding: 40px 0 0 0;
}

.arrow {
  display: flex;
  align-items: center;
}
.logo_info {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 149, 145, 1);
  border-radius: 0 150px 0 0;
}

.logo_text {
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
  width: 350px;
}
.navigation {
  display: flex;
  gap: 80px;
  padding: 147px 0 0px 100px;
}
.Last {
  display: flex;
  align-items: center;
}
.pic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
